h1, h2 {
  font-weight: 400; 
  color: $purple;
}

h1 {
  font-size: 38px;

  @media #{$mobile} {
    font-size: 32px;
  }
}

h2 {
  font-size: 26px;
  margin: 0;

  @media #{$mobile} {
    font-size: 22px;
  }
}

h3 {
  font-size: 22px;
  margin: 0;
  font-weight: 400; 
}

.button {
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

a {
  &:hover {
    cursor: pointer;
  }
}