

<template lang="pug">
  .container
    h2(v-for="callout in callout") {{ callout.copy }}
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    callout: Array,
  }
}
</script>

<style scoped lang="scss">
.container {
  margin: 80px 0;

  @media #{$mobile} {
    margin: 80px 30px;
  }

  h2 {
    color: $purple;
    margin: 0;
  }
}
</style>
