

<template lang="pug">
  .container#register
    h1 Let's get started <strong>today</strong>
    p Register your name, phone number, and preferred contact method.
    p We got your back on daily tasks, todos, creating or breaking habits.
    p Together, let's make progress one habit at a time.
    form
      .input-container
        .input(:class="{ 'error' : fullNameError }")
          input(
            ref="fullName" 
            type="text"
            placeholder="Full Name"
            required
            v-model="name"
          )
        .input(:class="{ 'error' : phoneError }")
          input(
            ref="phone"
            type="text"
            placeholder="Phone"
            required
            v-mask="'###-###-####'"
            v-model="phone"
          )
        .select(:class="{ 'error' : contactError }")
          select(
            ref="contact"
            name="contact"
            id="contact"
            required
            v-model="contact"
          )
            option(value="cell") cell
            option(value="sms") sms
            option(value="whatsapp") whataspp
      p.success(v-if="success") Thank you for registering! We'll contact you soon.
      p.error(v-if="error") There was an error submitting this form.
      button(type="submit" @click.prevent="checkForm") Register
</template>

<script>
import Vue from 'vue'
import { VueMaskDirective } from 'v-mask'
Vue.directive('mask', VueMaskDirective);

export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  data() {
    return {
      error: false,
      name: null,
      fullNameError: false,
      phone: null,
      phoneError: false,
      contact: null,
      contactError: false,
      success: false,
    }
  },
  methods: {
    checkForm() {
      this.$refs.fullName.value === '' ? this.fullNameError = true : this.fullNameError = false
      this.$refs.phone.value === '' ? this.phoneError = true : this.phoneError = false
      this.$refs.contact.value === '' ? this.contactError = true : this.contactError = false

      if (!this.fullNameError && !this.phoneError && !this.contactError) {
        this.error = false
      } else {
        this.error = true
      }

      if (!this.error) {
        this.submitForm()
      }
    },
    submitForm() {
      this.success = false
      this.error = false
      const url = "http://www.mocky.io/v2/5ecd95323000007500ea0b7b"

      let formData = new FormData
      formData.append('name', this.name)
      formData.append('phone', this.phone.replace(/-/g, ''))
      formData.append('contact_preference', this.contact)

      this.$http.post(url, formData)
      .then((result) => {
        if (result.data.status === 'success') {
          this.name = ''
          this.phone = ''
          this.contact = ''
          this.success = true
        }
      })
      .catch((error) => {
        if (error) {
          this.error = true
        }
      })
    }
  },
}
</script>

<style scoped lang="scss">
.container {
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media #{$mobile} {
    width: 90%;
    margin: 20px auto 80px;
  }

  p {
    margin: 0;

    &.error {
      color: $red;
      margin: 30px 0 -10px;
    }

    &.success {
      color: $teal;
      margin: 30px 0 -10px;
    }
  }

  form {
    width: 80%;
    margin: 0 auto;

    @media #{$mobile} {
      width: 100%;
    }

    .input-container {
      width: 80%;
      display: flex;
      flex-direction: row;
      margin: 40px auto 0;
      flex-wrap: wrap;
      justify-content: space-between;

      @media #{$mobile} {
        width: 100%;
        flex-direction: column;
      }
    }

    .input {
      width: 48%;

      @media #{$mobile} {
        width: 100%;

        &:first-child {
          margin-bottom: 20px;
        }
      }

      &.error {
        input {
          border-color: $red;
        }
      }
    }

    .select {
      width: 48%;
      position: relative;

      &.error {
        select {
          border-color: $red;
        }
      }

      @media #{$mobile} {
        width: 100%;
        margin-top: -10px;
      }

      &:after {
        content: '';
        position: absolute;
        display: block;
        height: 10px;
        width: 10px;
        top: 50px;
        right: 15px;
        border: 1px solid #cacaca;
        border-top: 0;
        border-right: 0;
        transform: rotate(-45deg);
      }
    }
    
    input,
    select {
      width: 100%;
      height: 50px;
      padding: 0 20px;
      font-size: 16px;
      border-radius: 0;
      border: 1px solid #cacaca;
      color: #929292;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

      &::placeholder {
        font-size: 16px;
      }

      &:focus {
        outline-style: dotted;
      }
    }

    input {
      width: calc(100% - 40px);
    }

    select {
      -webkit-appearance: none;
      margin-top: 30px;
      width: 100%;
      background: #fff;
    }

    button {
      -webkit-appearance: none;
      display: block;
      margin: 40px auto 0;
      font-size: 18px;
      background: #eee;
      color: #929292;
      border: none;
      padding: 10px 30px;
      text-transform: uppercase;
      font-weight: 800;
      border-radius: 5px;
    }
  }

}
</style>
