<template lang="pug">
  nav#nav
    .container
      a(href="/")
        img#logo(src="../assets/logo.svg")
        | Habit Gene
    .container 
      a.item(href="/#features") 
        img(src="../assets/icons/feature-icon.png")
        | Features
      a.item.button(href="/#register") 
        img(src="../assets/icons/register-icon.png")
        | Register
    
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  }
}
</script>

<style scoped lang="scss">
// @import '../styles/main.scss';
nav {
  background: $purple;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // position: fixed;
  width: 100%;
  padding: 20px 0 20px;
}

#logo {
  width: 50px;
  margin-right: 10px;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  @media #{$mobile} {
    font-size: 0;
  }
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0 20px;
}

.item {
  img {
    width: 24px;
    margin-right: 10px;

    @media #{$mobile} {
      margin: 0;
    }
  }

  &.button {
    background: $teal;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 18px;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      background: $teal;
    }
  }
}
</style>
