<template lang="pug">
  .hero
    .text-container 
      h1 {{ hero.heading }}
      p {{ hero.copy }}
      .button-container
        .button(v-for="button in hero.buttons") {{ button.copy }}
          img(:src="button.img")
    .image-container
      img(:src="hero.banner")
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    hero: Object,
  },
}
</script>

<style scoped lang="scss">
@import '../styles/main.scss';
.hero {
  display: flex;
  // margin-top: 30px;
  max-width: 1200px;
  margin: 30px auto 0;
  flex-direction: row;

  @media #{$mobile} {
    flex-direction: column-reverse;
  }
}

.text-container {
  display: inline-flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;

  @media #{$mobile} {
    width: 100%;
  }
}

.image-container {
  width: 60%;

  @media #{$mobile} {
    width: 90%;
    margin: 0 auto;
  }

  img {
    width: 100%;
  }
}

h1 {
  width: 50%;
  @media #{$mobile} {
    width: 80%;
  }
}

.button {
  background: $purple;
  color: #fff;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s;
  margin: 0 5px;

  &:hover {
    cursor: pointer;
    background: $purple;
  }

  img {
    margin-left: 10px;
    width: 18px;
  }
}
</style>
