

<template lang="pug">
  .container#features
    .column
      .block(
        v-for="block, index in product.blocks"
        v-if="index <= 1"
        class="purple"
      )
        h3 {{ block.heading }}
        p {{ block.copy }}
    .column
      img(:src="product.img")
    .column
      .block(
        v-for="block, index in product.blocks"
        v-if="index >= 2"
        class="teal"
      )
        h3 {{ block.heading }}
        p {{ block.copy }}
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    product: Object,
  }
}
</script>

<style scoped lang="scss">
.container {
  margin: 80px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1200px;

  @media #{$mobile} {
    flex-direction: column;
    margin: 20px auto;
  }

  .column {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    @media #{$mobile} {
      margin: 0 auto 30px;
      width: 90%;
    }

    img {
      width: 80%;
      margin: 0 auto;
      @media #{$mobile} {
        max-width: 300px;
      }
    }

    .block {
      color: $white;
      padding: 20px;
      display: block;
      align-self: stretch;
      height: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.purple {
        background: $purple;
      }

      &.teal {
        background: $teal;
      }

      p {
        margin-top: 10px;
      }

      &:first-child {
        margin-bottom: 30px;
      }
    }
  }
}
</style>
