<template lang="pug">
  #app
    Header
    Hero(:hero="hero")
    Callout(:callout="callout")
    Product(:product="product")
    Form
</template>

<script>
import Header from './components/Header.vue'
import Hero from './components/Hero.vue'
import Callout from './components/Callout.vue'
import Product from './components/Product.vue'
import Form from './components/Form.vue'

export default {
  name: 'App',
  data() {
    return {
      hero: {
        heading: 'Modify your lazy gene with one call each day',
        copy: 'Get started on whatsapp or with a call',
        buttons: [
          { 
            copy: 'Whatsapp',
            img: require('@/assets/icons/whatsapp-icon.png'),
          },
          { 
            copy: 'Call',
            img: require('@/assets/icons/phone-icon.png'),
          },
        ],
        banner: require('@/assets/banner.svg'),
      },
      callout: [
        { copy: 'We call you once per day to reinforce the habit formation.' },
        { copy: 'One call. One habit. One day at a time.' },
      ],
      product: {
        img: require('@/assets/notification.svg'),
        blocks: [
          {
            heading: `Habit Formation`,
            copy: `Want to form habits but you keep losing focus? Let us hold you accountable by checking with you everyday and keep your goals on track.`,
          },
          {
            heading: `Habit Breaking`,
            copy: `Want to stop a habit but having trouble quitting it? Let's work together one day at a time until the habit is removed from your gene.`,
          },
          {
            heading: `Todos`,
            copy: `Have a list of tasks to complete. We will remind you and ensure to get it done on time.`,
          },
          {
            heading: `Outsource Tasks`,
            copy: `Why waste your precious time on machine tasks? Want to go out for dinner? Leave it on us. We will curate restaurants and book the best for you. We book appointments with dentists, hairstylists, and other services giving back your precious time.`,
          },
        ],
      },
    }
  },
  components: {
    Header,
    Hero,
    Callout,
    Product,
    Form,
  }
}
</script>

<style lang="scss">
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#app {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
